.rating {
    color: #ff9900;
}
.num-ratings {
    color: #007185;
}

.btn-primary,
.btn-primary:focus {
    color: black;
    background-color: #ff9900;
    box-shadow: none;
}
.btn-primary:active {
    box-shadow: none;
}
.btn-primary:active:focus {
    background-color: #0d6efd;
    color: white;
    box-shadow: none;
}

.btn-primary:focus:active {
    background-color: #0d6efd;
    color: white;
    box-shadow: none;
}
